{% extends 'layout.html' %}
{% block title %} Cadastro de Campanhas {% endblock %}
{% block content %}

<div class="area-cadastro">
    <h2>Faça uma boa ação e cadastre sua campanha</h2>

    <form class="formulario" action="{{ url_for('campanha.campanhas') }}" method="post">
        <div class="mb-3">
            <label for="titulo" class="form-text">Título:</label>
            <input type="text" name="titulo" id="titulo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <textarea name="descricao" id="descricao" class="form-control" required></textarea>
        </div>
        <div class="form-mb">
            <div class="mb-3">
                <label for="meta_financeira" class="form-label">Meta Financeira:</label>
                <input type="number" step="0.01" name="meta_financeira" class="form-control" id="meta_financeira" required>
            </div>
        </div>
        <div class="form-mb">
            <div class="mb-3">
                <label for="data_inicio" class="form-label">Data de Início:</label>
                <input type="date" name="data_inicio" id="data_inicio" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="data_fim" class="form-label">Data de Fim:</label>   
                <input type="date" name="data_fim" id="data_fim" required class="form-control">
            </div>
        </div>
        <div class="form-mb">
            <label class="form-label">Status:</label>
            <select name="status" class="form-control" required>
                <option value="ativa">Ativa</option>
                <option value="concluida">Concluída</option>
                <option value="cancelada">Cancelada</option>
            </select>
        </div>
        
        <button class="btn btn-primary" type="submit" style="margin-top: 20px;">Cadastrar Campanha</button>
    </form>
</div>

{% endblock %}